.album__page {
    display: flex;
    flex-flow: wrap row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 40px;
}

.album__page__image {
    width: 400px;
}

.album__page__image img {
    display: block;
    width: 100%;
    height: auto;
}

.album__info {
    width: calc(100% - 400px);
    padding-left: 20px;
}

.album__info h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #ffffff;
}

.album__info h2 {
    font-size: 34px;
    color: #ff0000;
    margin-bottom: 30px;
}

.album__info h2 span {
    font-size: 24px;
    font-weight: normal;
    color: #ffffff;
}

.album__artist h2 {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 24px;
}

.album__artist__descr {
    display: flex;
    flex-flow: wrap row;
    align-items: flex-start;
    justify-content: flex-start;
}

.album__artist__descr img {
    width: 150px;
    height: auto;
    display: block;
    margin-right: 20px;
    border: 2px solid #ff0000;
    cursor: pointer;
}

.album__artist__descr img:hover {
    -webkit-box-shadow: 1px 0 100px 0 rgba(255, 0, 0, 1);
    -moz-box-shadow:    1px 0 100px 0 rgba(255, 0, 0, 1);
    box-shadow:         1px 0 100px 0 rgba(255, 0, 0, 1);
}

.album__artist__descr h3 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 10px;
    cursor: pointer;
}

.album__artist__descr h3:hover {
    color: #ff0000;
}

.tracks__list h2 {
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 30px;
}