.add_cocktail h2 {
    margin-bottom: 40px;
}

.add_cocktail .ingredients.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.add_cocktail .ingredients.row input[name="amount"] {
    width: 100px;
}

.add_cocktail .ingredients.row input[name="name"] {
    width: calc(100% - 200px);
}

.add_cocktail .ingredients.row button.btn {
    height: 45px;
    padding: 0;
    width: 45px;
}