.Select-control {
    background: transparent;
    height: 45px;
    border-radius: 5px;
    border: 2px solid #ff0000;
    -webkit-box-shadow: 1px 0 40px 0 rgba(255, 0, 0, 1);
    -moz-box-shadow:    1px 0 40px 0 rgba(255, 0, 0, 1);
    box-shadow:         1px 0 40px 0 rgba(255, 0, 0, 1);
}

.Select.has-value.Select--single > .Select-control .Select-value .Select-value-label, .Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
    color: #ffffff;
    font-size: 20px;
    line-height: 41px;
}

.Select-placeholder {
    line-height: 41px;
}

.Select.is-focused > .Select-control,
.Select-menu-outer {
    background: #000000;
}

.Select-option {
    background: #000000;
    color: #ffffff;
}

.Select.is-focused:not(.is-open) > .Select-control {
    background: #000000;
}

.Select-option.is-selected {
    background: rgba(255, 0, 0, 0.7);
    color: #ffffff;
}
.Select-option.is-focused {
    background: rgba(255, 0, 0, 0.5);
    color: #ffffff;
}

.Select-input > input {
    padding-top: 0;
}