.chat_wrap {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
}

.onlineUsers {
    width: 250px;
    border: 3px solid #ff0000;
    -webkit-box-shadow: 1px 0 40px 0 rgba(255, 0, 0, 1);
    -moz-box-shadow:    1px 0 40px 0 rgba(255, 0, 0, 1);
    box-shadow:         1px 0 40px 0 rgba(255, 0, 0, 1);
    position: relative;
    padding: 20px;
    border-radius: 5px;
}

.chat_room {
    width: calc(100% - 280px);
    border: 3px solid #ff0000;
    -webkit-box-shadow: 1px 0 40px 0 rgba(255, 0, 0, 1);
    -moz-box-shadow:    1px 0 40px 0 rgba(255, 0, 0, 1);
    box-shadow:         1px 0 40px 0 rgba(255, 0, 0, 1);
    position: relative;
    padding: 20px;
    border-radius: 5px;
}

.chat_wrap .title {
    position: absolute;
    top: -15px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    left: 20px;
}

.chat_form {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.chat_form input {
    flex-grow: 1;
    margin-right: 20px;
    height: 52px;
}

.chat_room ul.room {
    min-height: 500px;
}

.chat_room ul.room li {
    border: 2px solid #ff0000;
    -webkit-box-shadow: 1px 0 40px 0 rgba(255, 0, 0, 1);
    -moz-box-shadow:    1px 0 40px 0 rgba(255, 0, 0, 1);
    box-shadow:         1px 0 40px 0 rgba(255, 0, 0, 1);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px 10px;
    color: #ffffff;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.chat_room ul.room li div {
    width: calc(100% - 100px);
    overflow: hidden;
}

.chat_room ul.room li .user {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
}

.delete_message {
    padding: 5px 8px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin: 0 10px;
}