.track__item {
    display: flex;
    flex-flow: wrap row;
    margin-bottom: 10px;
    border: 2px solid #ff0000;
    background: rgba(255, 255, 255, 0.5);
    padding: 5px 10px;
    border-radius: 6px;
    align-items: center;
}

.track_number {
    font-weight: bold;
    width: 30px;
    border-right: 1px solid #000;
}

.track_name {
    font-weight: bold;
    flex-grow: 1;
    border-left: 1px solid #000;
    padding-left: 20px;
}

.track_duration {
    width: 55px;
    border-left: 1px solid #000;
    padding-left: 10px;
}

.play__track {
    width: 35px;
    height: 35px;
    display: block;
    margin: 0 15px;
    border: none;
    border-radius: 50%;
}

.play__track:hover {
    transform: scale(1.1);
}