.profile_page {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: flex-start;
}

.user_image {
    width: 400px;
    border: 2px solid #ff0000;
    -webkit-box-shadow: 1px 0 100px 0 rgba(255, 0, 0, 1);
    -moz-box-shadow:    1px 0 100px 0 rgba(255, 0, 0, 1);
    box-shadow:         1px 0 100px 0 rgba(255, 0, 0, 1);
}

.user_image img {
    display: block;
    width: 100%;
    height: auto;
}

.user_info {
    width: calc(100% - 450px);
    color: #ffffff;
}

.user_name {
    font-size: 18px;
    margin-bottom: 30px;
}

.user_name span {
    padding-left: 10px;
    font-size: 30px;
}

.addImage {
    padding: 10px 20px;
    border: 2px solid #ff0000;
    border-radius: 5px;
    font-weight: bold;
    font-size: 24px;
    -webkit-box-shadow: 1px 0 40px 0 rgba(255, 0, 0, 1);
    -moz-box-shadow:    1px 0 40px 0 rgba(255, 0, 0, 1);
    box-shadow:         1px 0 40px 0 rgba(255, 0, 0, 1);
}

.addImage span {
    margin-left: 10px;
    vertical-align: middle;
}

.addImage:hover {
    -webkit-box-shadow: inset 1px 1px 30px 0 rgba(255, 0, 0, 1);
    -moz-box-shadow: inset 1px 1px 30px 0 rgba(255, 0, 0, 1);
    box-shadow: inset 1px 1px 30px 0 rgba(255, 0, 0, 1);
}

.user_info .row {
    margin-bottom: 30px;
}

.change_password input {
    width: 300px;
}

.change_password {
    margin-bottom: 80px;
}