.modal_login {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    width: 500px;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px 40px;
    border-radius: 20px;
    z-index: 9999;
    text-align: center;
    border: 3px solid #000;
    -webkit-box-shadow: 1px 1px 50px 0 rgba(255, 0, 0, 1);
    -moz-box-shadow: 1px 1px 50px 0 rgba(255, 0, 0, 1);
    box-shadow: 20px 20px 50px 1px rgba(255, 0, 0, 1);
}

.modal_login h1 {
    color: #000000;
    margin-bottom: 10px;
    font-size: 30px;
}

.modal_login .row {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    margin-bottom: 15px;
}

.modal_login .row.button {
    display: flex;
    flex-flow: wrap row;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
}

.modal_login label {
    font-size: 18px;
    color: #000000;
    margin-bottom: 5px;
}

.modal_login input {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #000;
    padding: 0 10px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    -webkit-box-shadow: 1px 1px 50px 0 rgba(255, 0, 0, 1);
    -moz-box-shadow: 1px 1px 50px 0 rgba(255, 0, 0, 1);
    box-shadow: 1px 1px 50px 0 rgba(255, 0, 0, 1);
}

.modal_login button {
    display: block;
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, .5);
    user-select: none;
    padding: 10px 40px;
    border: 1px solid rgb(80, 32, 0);
    border-radius: 5px;
    background: rgb(147, 80, 36) linear-gradient(rgb(106, 58, 26), rgb(147, 80, 36) 80%);
    box-shadow: 0 6px rgb(86, 38, 6),
    0 3px 15px rgba(0, 0, 0, .4),
    inset 0 1px rgba(255, 255, 255, .3),
    inset 0 0 3px rgba(255, 255, 255, .5);
    transition: .2s;
}

.modal_login button:hover {
    background: rgb(167, 91, 41) linear-gradient(rgb(126, 69, 31), rgb(167, 91, 41) 80%);
}

.modal_login button:active {
    background: rgb(120, 63, 25) linear-gradient(rgb(120, 63, 25) 20%, rgb(167, 91, 41));
    box-shadow: 0 2px rgb(86, 38, 6),
    0 1px 6px rgba(0, 0, 0, .4),
    inset 0 1px rgba(255, 255, 255, .3),
    inset 0 0 3px rgba(255, 255, 255, .5);
    -webkit-transform: translate(0, 4px);
    transform: translate(0, 4px);
}

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modal_login .error {
    font-size: 20px;
    font-weight: bold;
    color: #ff0000;
    text-align: center;
}

button.loginBtn {
    box-sizing: border-box;
    position: relative;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
    box-shadow: none;
    margin: 40px auto 0;
}

button.loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
}

button.loginBtn:focus {
    outline: none;
}

button.loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}

/* Facebook */
button.loginBtn--facebook {
    background: #4C69BA linear-gradient(#4C69BA, #3B55A0);
    /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
    text-shadow: 0 -1px 0 #354C8C;
}

button.loginBtn--facebook:before {
    border-right: #364e92 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}

button.loginBtn--facebook:hover,
button.loginBtn--facebook:focus {
    background: #5B7BD5 linear-gradient(#5B7BD5, #4864B1);
}

/* Google */
button.loginBtn--google {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background: #DD4B39;
}

button.loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}

button.loginBtn--google:hover,
button.loginBtn--google:focus {
    background: #E74B37;
}
