.artist__page h1 {
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 40px;
    padding-left: 15px;
}

.artist__page__info {
    padding: 15px;
}

.artist__page__info::after {
    content: '';
    clear: both;
    display: block;
}

.artist__page__image {
    width: 400px;
    float: left;
    margin: 0 40px 20px 0;
    border: 2px solid #ff0000;
}

.artist__page__image img {
    display: block;
    width: 100%;
    height: auto;
}

.artist__page__descr {
    color: #ffffff;
    font-size: 20px;
    line-height: 28px;
}

.artist__page__items {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}