.cocktails_item {
    width: 293px;
    margin: 15px;
    border: 2px solid #ff0000;
    padding: 10px;
    background: rgba(255,255,255,0.2);
    cursor: pointer;
}

.cocktails_item .image {
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
}

.cocktails_item .name {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}

.cocktails_item:hover {
    -webkit-box-shadow: 1px 0 100px 0 rgba(255, 0, 0, 1);
    -moz-box-shadow:    1px 0 100px 0 rgba(255, 0, 0, 1);
    box-shadow:         1px 0 100px 0 rgba(255, 0, 0, 1);
}

.cocktails_item:hover .name {
    color: #ff0000;
}