.history_item {
    display: flex;
    flex-flow: wrap row;
    margin-bottom: 10px;
    border: 2px solid #ff0000;
    background: rgba(255, 255, 255, 0.5);
    padding: 5px 10px;
    border-radius: 6px;
    align-items: center;
}

.history_item .item_artist {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #000;
    flex-grow: 1;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    font-size: 18px;
}

.history_item .item_track {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #000;
    width: 350px;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    font-size: 18px;
}

.history_item .item_date {
    font-size: 18px;
}