.cocktails_page__inner {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.cocktail_image {
    width: 350px;
}

.cocktail_image img {
    display: block;
    width: 100%;
    height: auto;
}

.cocktail_info {
    width: calc(100% - 400px);
}

.cocktail_info h2 {
    margin-bottom: 30px;
    text-transform: capitalize;
}

.cocktail_info .rating {
    margin-bottom: 20px;
    font-size: 24px;
    color: #ff0000;
}

.ingredients .ingredient {
    color: #ffffff;
    margin-bottom: 10px;
    font-size: 20px;
}

.ingredient_name {
    font-weight: bold;
}

.cocktail_recipe {
    font-size: 18px;
    line-height: 1.3;
    color: #ffffff;
}

.rating_title {
    margin-right: 10px;
}

.cocktail_rate {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

button.rate_this {
    border-color: gold;
    margin-left: 40px;
    -webkit-box-shadow: 1px 0 40px 0 rgba(255, 215, 0, 1);
    -moz-box-shadow:    1px 0 40px 0 rgba(255, 215, 0, 1);
    box-shadow:         1px 0 40px 0 rgba(255, 215, 0, 1);
}

button.rate_this:hover {
    box-shadow: none;
    background: gold;
    color: #000;
}

.cocktail_info h1.warning {
    padding: 20px;
    text-align: center;
    color: #ff0000;
}