.admin_menu {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 40px;
}

.admin_menu li {
    margin: 0 20px;
}

.admin_menu li a {
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.admin_menu li a span {
    margin-left: 10px;
}

.admin_menu li a.active {
    color: #ff0000;
}

.admin_panel_list h2 {
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 30px;
}

.admin_panel_list ul li {
    color: #ffffff;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px 10px;
    border: 2px solid #ff0000;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

p.title {
    color: #ffffff;
    font-size: 24px;
}

.admin_btn {
    padding: 5px 8px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin: 0 10px;
}

.admin_delete {
    background: #ff0000;
}

.admin_public {
    background: green;
}

.admin_item span {
    flex-grow: 1;
}