.youtube_modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 10px;
    background: #000000;
    border-radius: 20px;
    z-index: 9999;
    -webkit-box-shadow: 1px 1px 50px 0 rgba(255, 0, 0, 1);
    -moz-box-shadow: 1px 1px 50px 0 rgba(255, 0, 0, 1);
    box-shadow: 1px 1px 50px 1px rgba(255, 0, 0, 1);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    min-height: 400px;
    min-width: 600px;
}

.close_youtube_modal {
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    top: -30px;
    right: -30px;
    background: #ffffff;
    border: 1px solid #ffffff;
    cursor: pointer;
}