header {
    width: 100%;
    margin-bottom: 50px;
}

header .container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    width: 100px;
    cursor: pointer;
}

.header__logo img {
    display: block;
    width: 100%;
    height: auto;
}

header ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

header ul li {
    position: relative;
}

header ul li a {
    position: relative;
    display: inline-block;
    font-size: 20px;
    font-weight: normal;
    color: #fff;
    transition: color .2s ease;
    padding: 3px 10px;
    margin: 0 20px;
    cursor: pointer;
}

header ul li a:hover {
    color: #ff0000;
}

header ul li a:hover::after,
header ul li a:hover::before {
    width: 100%;
    left: 0;
}

header ul li a::after,
header ul li a::before {
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    width: 0;
    right: 0;
    height: 3px;
}

header ul li a::before {
    transition: width .4s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
    background: #2196f3;
}

header ul li a::after {
    transition: width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
    background: #F44336;
}

.user_menu {
    margin-left: 20px;
    z-index: 1000;
    background: #000;
}

.user_menu > div {
    color: #ffffff;
    font-size: 26px;
    border: 2px solid #ff0000;
    border-radius: 5px;
    min-width: 200px;
    padding: 5px 20px;
    text-align: center;
    -webkit-box-shadow: 1px 1px 30px 0 rgba(255, 0, 0, 1);
    -moz-box-shadow: 1px 1px 30px 0 rgba(255, 0, 0, 1);
    box-shadow: 1px 1px 30px 0 rgba(255, 0, 0, 1);
    cursor: pointer;
    width: 100%;
    margin: 0;
    position: relative;
    z-index: 1000;
    text-transform: capitalize;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_menu > div:hover {
    -webkit-box-shadow: inset 1px 1px 30px 0 rgba(255, 0, 0, 1);
    -moz-box-shadow: inset 1px 1px 30px 0 rgba(255, 0, 0, 1);
    box-shadow: inset 1px 1px 30px 0 rgba(255, 0, 0, 1);
}

.dropdown_menu {
    display: block;
    position: absolute;
    left: 0;
    top: -700%;
    opacity: 0;
    z-index: 100;
    width: 100%;
    color: #ffffff;
    border: 2px solid #ff0000;
    border-radius: 5px;
    padding: 20px 10px;
    background: #000;
    -webkit-box-shadow: 1px 1px 30px 0 rgba(255, 0, 0, 1);
    -moz-box-shadow: 1px 1px 30px 0 rgba(255, 0, 0, 1);
    box-shadow: 1px 1px 30px 0 rgba(255, 0, 0, 1);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.dropdown_menu li {
    margin: 0 0 15px;
    text-align: left;
    width: 100%;
}

.dropdown_menu li:last-of-type {
    margin: 0;
}

.dropdown_menu li span,
.dropdown_menu li a {
    margin: 0;
    line-height: 1;
}

.dropdown_menu li a:before,
.dropdown_menu li a:after {
    top: 100%;
}

.user_menu:hover .dropdown_menu {
    top: 130%;
    opacity: 1;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.dropdown_menu li a span,
.fake_link span {
    padding: 3px 10px;
    font-size: 20px;
}

.fake_link {
    font-size: 20px;
    padding: 0 10px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.fake_link:hover {
    padding-left: 30px;
    color: #ff0000;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.user_avatar {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 20px;
}