body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    min-width: 1000px;
    width: 100%;
    min-height: 100%;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

ul, ol {
    list-style: none;
}

button, select, label {
    cursor: pointer;
}

.container {
    width: 1000px;
    margin: 0 auto;
    position: relative;
    padding: 15px;
}

a {
    text-decoration: none;
}

button.btn {
    border-radius: 5px;
    border: 2px solid #ff0000;
    -webkit-box-shadow: 1px 0 40px 0 rgba(255, 0, 0, 1);
    -moz-box-shadow:    1px 0 40px 0 rgba(255, 0, 0, 1);
    box-shadow:         1px 0 40px 0 rgba(255, 0, 0, 1);
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    background: none;
    padding: 10px 20px;
}

button.btn span {
    margin-left: 10px;
    vertical-align: middle;
}

button.btn:hover {
    -webkit-box-shadow: inset 1px 1px 30px 0 rgba(255, 0, 0, 1);
    -moz-box-shadow: inset 1px 1px 30px 0 rgba(255, 0, 0, 1);
    box-shadow: inset 1px 1px 30px 0 rgba(255, 0, 0, 1);
}

input {
    display: block;
    border-radius: 5px;
    border: 2px solid #ff0000;
    -webkit-box-shadow: 1px 0 40px 0 rgba(255, 0, 0, 1);
    -moz-box-shadow:    1px 0 40px 0 rgba(255, 0, 0, 1);
    box-shadow:         1px 0 40px 0 rgba(255, 0, 0, 1);
    height: 45px;
    line-height: 45px;
    background-color: transparent;
    font-size: 20px;
    color: #ffffff;
    padding: 0 10px;
}

textarea {
    display: block;
    border-radius: 5px;
    border: 2px solid #ff0000;
    -webkit-box-shadow: 1px 0 40px 0 rgba(255, 0, 0, 1);
    -moz-box-shadow:    1px 0 40px 0 rgba(255, 0, 0, 1);
    box-shadow:         1px 0 40px 0 rgba(255, 0, 0, 1);
    font-size: 20px;
    color: #ffffff;
    padding: 10px;
    background-color: transparent;
    resize: none;
}

input:focus,
textarea:focus {
    border-color: #007eff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
}

label {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
}

.row {
    margin-bottom: 30px;
}

h3 {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 20px;
}

h1 {
    color: #ffffff;
    margin-bottom: 50px;
    font-size: 40px;
}

.error {
    font-size: 14px;
    font-weight: bold;
    display: block;
    padding: 5px;
    color: #ff0000;
}

.add_form {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: flex-start;
}

.add_form_image {
    width: 400px;
    border: 2px solid #ff0000;
    -webkit-box-shadow: 1px 0 100px 0 rgba(255, 0, 0, 1);
    -moz-box-shadow:    1px 0 100px 0 rgba(255, 0, 0, 1);
    box-shadow:         1px 0 100px 0 rgba(255, 0, 0, 1);
}

.add_form_image img {
    display: block;
    width: 100%;
    height: auto;
}

.add_form_info {
    width: calc(100% - 450px);
    color: #ffffff;
}

.add_form_info input,
.add_form_info textarea {
    width: 100%;
}

.add_form_info textarea {
    height: 200px;
}

.notification-container {
    top: 40px;
}

h2 {
    color: #ffffff;
    font-size: 30px;
}